{% extends "layout.html" %}
{% block body %}
	<section id='intro'>
	</section>
	<section id='meetups'>
		<script>//todo: meetup script</script>
	</section>
	<section id='projects'>
		<h2>Featured Projects</h1>
		<span>
			<div class='project-summary'>
				<img src='img/placeholder.png'>
				<h3>Kalicos</h3>
				<p>A free community map that shows non-profit needs including donation wishlists, volunteer opportunities and fundraising events.</p>
			</div>
			<div class='project-summary'>
				<img src='img/placeholder.png'>
				<h3>Safe Streets</h3>
				<p>Vital information in the palm of your hand.</p>
			</div>
			<div class='project-summary'>
				<img src='img/placeholder.png'>
				<h3>Water Project</h3>
				<p>BuildingBoulder is an app to make it easier for citizens to gain awareness of their water environment.</p>
			</div>
		</span>
	</section>
	<section id='sponsors'>
		<h1>Thank you to our sponsers</h1>
	</section>
{% endblock %}