{% extends "layout.html" %}
{% block body %}
	<h1>Projects</h1>
	<h2>Active Projects</h2>
	<div class='project-details'>
		<img src='img/placeholder.png'>
		<h3>Kalicos</h3>
		<p>A free community map that shows non-profit needs including donation wishlists, volunteer opportunities and fundraising events.</p>
	</div>
	<div class='project-details'>
		<img src='img/placeholder.png'>
		<h3>Safe Streets</h3>
		<p>Vital information in the palm of your hand.</p>
	</div>
	<div class='project-details'>
		<img src='img/placeholder.png'>
		<h3>Water Project</h3>
		<p>BuildingBoulder is an app to make it easier for citizens to gain awareness of their water environment.</p>
	</div>
	<h2>Completed Projects</h2>
	<p>Have we completed any projects?</p>
{% endblock %}